<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Crowd Crafter</h1>
  <h2>Your Go-To Planner</h2>
  <button href=""></button>
</body>
</html>