<h2>Add Category</h2>

<form method="POST" action="/category/add">
    <div>
        <label>Name:</label>
        <br>
        <input type="text" name="name" required>
    </div>

    <br>
    <button type="submit">Create Category</button>
</form>