<h1>Add Category</h1>

<form method="POST" action="/category/add" style="width: 50vw;">
    <div>
        <label class="form-label">Name</label>
        <br>
        <input type="text" name="name" required class="form-control">
    </div>

    <br>
    <button type="submit" class="btn btn-success">Create Category</button>
</form>