<h1>Add Comment</h1>

<form method="POST" action="/event/comment">
    <div>
        <label class="form-label">Title</label>
        <br>
        <input type="text" name="title">
    </div>
    <br>
    <div>
        <label class="form-label">Content</label>
        <input type="text" name="content">

    </div>

    <br>
    <input type="hidden" name="id" id="id">
    <button type="submit" class="btn btn-success">add comment</button>
</form>